@import './vars';
@import './functions';

@mixin setBlock($block) {
    @each $name, $val in $block {
        #{$name}: $val
    }
}


@mixin setTheme($name) {
    /**
     * 顶部公共变量，block 后缀定义的是 css属性集合，数据类型是一个 map
     * 对于主题皮肤来说，一般公共变量是 颜色值 或者 主题背景图，尽量减少与主题无关的其他变量
    */
    $theme: getTheme($name, $themes);

    $primary-color: getMapVal('primary-color', $theme);
    $success-color: getMapVal('success-color', $theme);
    $warning-color: getMapVal('warning-color', $theme);
    $danger-color: getMapVal('danger-color', $theme);
    $info-color: getMapVal('info-color', $theme);

    $primary-font-c: getMapVal('primary-font-c', $theme);
    $regular-font-c: getMapVal('regular-font-c', $theme);
    $secondary-font-c: getMapVal('secondary-font-c', $theme);
    $placeholder-font-c: getMapVal('placeholder-font-c', $theme);

    $base-border-c: getMapVal('base-border-c', $theme);
    $light-border-c: getMapVal('light-border-c', $theme);
    $lighter-border-c: getMapVal('lighter-border-c', $theme);
    $extra-light-border-c: getMapVal('extra-light-border-c', $theme);

    $base-bg: getMapVal('base-bg', $theme);
    $logo-block: getMapVal('logo-block', $theme);

    /**
     * 公共 主题class
     * 主题类名规则：
     * 1、包含主要公共模块类名：如：body container footer slide 等等
     * 2、类名的原子性，如：（模块-<等级>-属性简写）module-bg module-deep-bg module-fc module-primary-fc module-block
     * ......
    */

    body {
        color: $primary-font-c;
        background-color: $base-bg;
    }
    
    .app-header {
        background-color: $primary-color;
        .logo {
            @include setBlock($logo-block);
        }
    }
}